@import 'reset.css';

body{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title{
  font-size: 42px;
  font-weight: bold;
  color: cornflowerblue;

}

